* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    background-color: rgb(137, 152, 158);
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-rows: 15% 80%;
}

form {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;

}

#searchBar {
    width: 60%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.location {
    font-size: 30px;
}

.tempInfo, .weatherType {
    font-size: 20px;
}

#weatherImg {
    width: 80px;
}

.weatherSubIcon {
    width: 30px;
}

.weatherSubInfo {
    display: flex;
    gap: 40px;
}

.weatherSubInfoDiv {
    display: flex;
    flex-direction: column;
}